{% load staticfiles %}
<html>

  <head>
    <title>Log in</title>
    {% include 'material_design_links.html' %}
    <link href="{% static "css/button_image.css" %}" rel="stylesheet">
    <link href="{% static "css/colors.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{% static "img/favicon.ico" %}"/>
  </head>

  <body>

    <form id="loginForm" action="" method="post">
        <p>{{ message }}</p>

        {% csrf_token %}

        {{ form.username.errors }}
        <div class="input-field">
          <label for="{{ form.username.id_for_label }}">Username</label>
          <input id="{{ form.username.id_for_label }}" name="username" type="text" maxlength="{{ form.fields.username.max_length }}">
        </div>

        {{ form.password.errors }}
        <div class="input-field">
          <label for="{{ form.password.id_for_label }}">Password</label>
          <input id="{{ form.password.id_for_label }}" name="password" type="password" type="text" maxlength="{{ form.fields.password.max_length }}">
        </div>

        <button id="submit" class="btn waves-effect waves-light blue" type="submit" name="action">Log in
          <img src="{% static "img/ic_face_white_24px.svg" %}">
        </button>
    </form>
  </body>

</html>
