{% extends 'scienceshaped/base.html' %}
{% load staticfiles %}

{% block title %}
  Login
{% endblock title %}

{% block head %}
  <link href="{% static "authentication/css/login.css" %}" rel="stylesheet">
{% endblock head %}

{% block header %}
{% endblock header %}

{% block footer %}
{% endblock footer %}


{% block content %}

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui header blue">
        Login
      </h2>
      <form class="ui large form" action="" method="post">

        {% csrf_token %}

        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input id="{{ form.username.id_for_label }}"
                name="username"
                placeholder="username"
                type="text"
                maxlength="{{ form.fields.username.max_length }}"
                value="{{ form.username.value }}">
            </div>

            {% if form.username.errors %}
              <div class="ui blue pointing label">
                {{ form.username.errors.0 }}
              </div>
            {% endif %}
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input id="{{ form.password.id_for_label }}"
                name="password"
                placeholder="password"
                type="password"
                maxlength="{{ form.fields.password.max_length }}">
            </div>

            {% if form.password.errors %}
              <div class="ui blue pointing label">
                {{ form.password.errors.0 }}
              </div>
            {% endif %}
          </div>

          {% if message %}
            <div class="ui tiny red message">
              <p>{{ message }}</p>
            </div>
          {% endif %}

          <div class="ui fluid large submit button blue">Login</div>
          <script src="{% static "authentication/js/login.js" %}"></script>

        </div>
      </form>
    </div>
  </div>

{% endblock content %}
