{% extends 'scienceshaped/base.html' %}
{% load staticfiles %}

{% block header %}
  {% include 'scienceshaped/header_simple.html' %}
{% endblock header %}

{% block footer %}
{% endblock footer %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "contentbox/css/contentbox.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "scienceshaped/css/header.css" %}">
{% endblock head %}

{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui header blue">
        Edit content
      </h2>
      <div class="ui theme buttons">
        <div class="ui button blue dark">Dark</div>
        <div class="ui button blue light">Light</div>
      </div>
      <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
      </form>
      <div class="ui fluid large submit button blue">Save</div>
    </div>
  </div>

  <script src="{% static "contentbox/js/contentbox.js" %}"></script>
  <script>
      {% if not form.light.value %}
          CKEDITOR.on('instanceReady', function() {  darken(); });
      {% endif %}
  </script>
{% endblock content %}
