#portfolio {
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

#portfolio .new.button:hover {
    cursor: pointer;
}

#portfolio .editor.buttons {
    position: absolute;
    top: 3px;
    right: 15px;
    z-index: 10;
}

#illustrationsTop {
    text-align: center;
}

#portfolio h1, .dropdown {
    display: inline-block;
}

#portfolio .card {
    margin: 10px 10px !important;
    width: 300px;
}

#portfolio .card img {
    object-fit: contain;
    object-position: center;
    height: 300px !important;
    width: 100% !important;
    background-color: #ffffff;
}

.main.image {
    text-align: center;
}

.main.image img {
    width: 100% !important;
    height: 350px !important;
    object-fit: contain;
    object-position: center;
}

.dropdown {
    margin-left: 20px !important;
    top: -10px;
}

.modal .card {
    display: inline-block !important;
    width: 150px !important;
    height: 100px !important;
}

.modal .description {
    padding: 30px;
}

.modal .card .modalimg img {
    object-fit: cover;
    object-position: center;
    height: 150px !important;
    width: 100% !important;
}