#illustrations {
  position: relative;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 80px;
}

#illustrations .new.button {
  position: absolute;
  top: 10px;
  left: 10px;
}

#illustrations .new.button:hover {
  cursor: pointer;
}

#illustrations .editor.buttons {
  position: absolute;
  top: 3px;
  right: 15px;
  z-index: 10;
}

#illustrationsTop {
  text-align: center;
}

#illustrations h1, .dropdown {
  display: inline-block;
}
