.testimonial.image {
    border: #ffffff solid 4px;
    display: inline-block !important;
}

.testimonial.container {
    color: #ffffff;
}

.hidden {
    display: none;
}

.testimonials .message {
    background: none;
    box-shadow: none;
    color: #ffffff;
}

.display.message {
    font-size: 20px;
    line-height: 28px;
}

.display.author {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 18px;
}

.display.job {
    margin: 2px;
    font-size: 14px;
}

.quote.icon {
    font-size: 30px;
}

.ui.small.image {
    width: 120px !important;
}

.testimonial.image:hover {
    cursor: pointer;
}

.testimonial.image.tiny {
    animation-name: scaleDown;
    animation-duration: .2s;
    opacity: 0.6;
}

.testimonial.image.small {
    animation-name: scaleUp;
    animation-duration: .2s;
    opacity: 1;
}

.testimonial.image {
    margin: 8px;
}

.testimonial.container {
    height: 300px;
}

.parallax-window {
    height: 640px;
}

@keyframes scaleUp {
    from {
        width: 80px;
        opacity: 0.6;
    }
    to {
        width: 120px;
        opacity: 1;
    }
}

@keyframes scaleDown {
    from {
        width: 120px;
        opacity: 1;
    }
    to {
        width: 80px;
        opacity: 0.6;
    }
}
