#testimonials {
  background: #2196F3;
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 10;
}

#testimonials .new.button {
  position: absolute;
  top: 10px;
  left: 10px;
}

#testimonials .new.button:hover {
  cursor: pointer;
}

#testimonials .column.left {
  padding: 40px;
  text-align: center;
}

#testimonials .column.right {
  padding: 15px 30px !important;
}

#testimonials .icon.quote {
  font-size: 20px;
  opacity: 0.2;
}

#testimonials .icon.quote.left {
  margin-left: -30px;
}

#testimonials .editor.buttons {
  position: absolute;
  top: 3px;
  right: 13px;
  z-index: 10;
}

.testimonial.date {
  position: absolute;
  top: 3px;
  left: 5px;
  opacity: 0.2;
}

.testimonial.message {
  font-size: 16px;
}

.testimonial.person {
  font-size: 18px;
  margin-bottom: 0;
}

.testimonial.job {
  font-size: 14px;
  margin-top: 0;
}

.testimonial.image {
  border-radius: 1000px;
  object-fit: cover;
  width: 150px;
  height: 150px;
  display: inline-block;
}

#testimonial-para-container {
  position: relative;
  overflow: hidden;
  background-color: #2196F3;
  z-index: -10;
  padding-top: 60px;
  padding-bottom: 100px;
}

#testimonial-para-container .para4 {
  bottom: calc(50% - 80vh);
  left: calc(50% - 50vw);
  width: 20vw;
  height: 200vh;
  background-color: #42A5F5;
  transform: rotate(40deg);
}

#testimonial-para-container .para3 {
  top: calc(50% - 110vh);
  right: calc(50% - 50vw);
  width: 20vw;
  height: 200vh;
  background-color: #42A5F5;
  transform: rotate(-50deg);
}

#testimonial-para-container .para2 {
  top: calc(50% - 20vh);
  left: calc(50% - 120vw);
  width: 200vw;
  height: 50vh;
  background-color: #1E88E5;
  transform: rotate(-80deg);
}
