.testimonial.image {
    border: #ffffff solid 4px;
    display: inline-block !important;
}

.testimonial.container {
    color: #ffffff;
}

.hidden {
    display: none;
}

.testimonials .message {
    background: none;
    box-shadow: none;
    color: #ffffff;
}

.display.message {
    padding: 0;
}

.ui.small.image {
    width: 120px !important;
}

.testimonial.image {
    margin: 8px;
}
