{% load staticfiles %}
{% load authentication_groups %}
<link href="{% static "css/about.css" %}" rel="stylesheet">

<section id="about">
  <div id="aboutTop">
    <h1>About</h1>
    {% if request.user|inGroup:"editor" %}
      <a href="/aboutEdit" class="waves-effect waves-blue btn-flat editorButton">Edit</a>
    {% endif %}
  </div>
  {% if action == 'aboutEdit' %}
  <script>
    $(function(){
      $('a[href="#about"]').click();
    });
  </script>
  <form id="aboutForm" action="/aboutEdit" method="post">
    {% csrf_token %}
    {{ aboutForm.media }}
    {{ aboutForm.as_p }}
    <button id="submit" class="btn waves-effect waves-light blue" type="submit" name="action">Save
      <img src="{% static "img/ic_save_white_24px.svg" %}">
    </button>
  </form>
  {% else %}
    <div id="aboutContent">
    {% autoescape off %}
        {{ aboutContent }}
    {% endautoescape %}
    </div>
  {% endif %}
</section>
