{% load staticfiles %}
{% load authentication_groups %}
<link href="{% static "css/about.css" %}" rel="stylesheet">

<section id="about">
  <h1>About</h1>
  <div id="why">
    <h3>WHY</h3>
    <p>
      High-quality illustrations are valuable assets, giving professional impressions and supporting your message in unique ways:
    </p>
    <ul>
      <li>A - attention-evoking</li>
      <li>S - story telling</li>
      <li>S - swift information</li>
      <li>E - essential message</li>
      <li>T - tutoring</li>
    </ul>
  </div>
  <div id="how">
    <h3>WHO</h3>
    <p>Hello from Ellen Tenstad! I founded Science Shaped in Jan 2015 after years experiencing that my graphical assistance made my colleagues very pleased.</p>
    <p>I have a MSc in cell biology (1993, University of Trondheim), a PhD in stem cell biology (2010, University of Oslo) and education in media design (2005, Idéfagskolen, Nøtterøy).</p>
    <p>Currently, I work as a post.doc at Department of Tumor Biology at the Institute for Cancer Research at Oslo University Hospital, where I have also worked at Department of Immunolgy.</p>
    <br>
    <h4>Former working places</h4>
    <ul>
      <li>The Norwegian <c class="accdk">Medicines Agency</c></li>
      <li>Norwegian Institute of <c class="accdk">Public Health</c></li>
      <li>Vestfold <c class="accdk">University College</c> (now University College of Southeast Norway)</li>
      <li>Tønsberg <c class="accdk">Chiropractor’s</c> clinic</li>
      <li>Learn more about my professional background and experience at <a id="linkedin" href="https://www.linkedin.com/in/ellen-tenstad-5b3b0631">LinkedIn</a></li>
    </ul>
  </div>
  <h4 id="mission">My mission is to serve both senders and recipients of knowledge by creating graphical<br>
    representations that render concepts, ideas and results in an immediate and appealing way.</h>
  </div>
</section>
