{% load staticfiles %}
<link href="{% static "css/contact.css" %}" rel="stylesheet">

{% if toast != '' %}
<script>
  $(function(){
    Materialize.toast('{{ toast }}', 3000, 'rounded');
  });
</script>
{% endif %}

{% if mailForm.errors %}
<script>
  $(function(){
    $('a[href="#contact"]').click();
  });
</script>
{% endif %}

<section id="contact">
  <h3>Contact</h3>
  <form id="contactForm" action="/" method="post">
    {% csrf_token %}

    {{ mailForm.email.errors }}
    <div class="input-field">
      <label for="{{ mailForm.email.id_for_label }}">{{ mailForm.email.label }}</label>
      <input id="{{ mailForm.email.id_for_label }}" name="{{ mailForm.email.name }}" type="text" value="{{ mailForm.email.value }}" required>
    </div>

    {{ mailForm.subject.errors }}
    <div class="input-field">
      <label for="{{ mailForm.subject.id_for_label }}">{{ mailForm.subject.label }}</label>
      <input id="{{ mailForm.subject.id_for_label }}" name="{{ mailForm.subject.name }}" type="text" value="{{ mailForm.subject.value }}" required>
    </div>

    {{ mailForm.message.errors }}
    <div class="input-field">
      <label for="{{ mailForm.message.id_for_label }}">{{ mailForm.message.label }}</label>
      <textarea id="{{ mailForm.message.id_for_label }}" name="{{ mailForm.message.name }}" class="materialize-textarea" required>{{ mailForm.message.value }}</textarea>
    </div>

    <button id="submit" class="btn waves-effect waves-light blue" type="submit" name="action">Send
      <img src="{% static "img/ic_send_white_24px.svg" %}">
    </button>
  </form>
</section>
