{% load staticfiles %}
<link href="{% static "css/header.css" %}" rel="stylesheet">

<div id="header">
  <img id="logo" src="{% static "img/logo.png" %}" />
  {% if request.user.is_authenticated %}
    <div id="user">
      Logged in as {{ request.user.first_name }}. <a href="/authentication/logout">Log out</a>
    </div>
  {% endif %}
  <ul id="menu">
    <li><a href="#about" class="waves-effect waves-blue btn-flat">About</a></li>
    <li><a href="#illustrations" class="waves-effect waves-blue btn-flat">Illustrations</a></li>
    <li><a href="#testamonials" class="waves-effect waves-blue btn-flat">Testamonials</a></li>
    <li><a href="#contact" class="waves-effect waves-blue btn-flat">Contact</a></li>
  </ul>
</div>
