{% load staticfiles %}
{% load authentication_groups %}
<html>
  {% if request.user|inGroup:"editor" or not hidden %}
    <head>
      <link href="{% static "css/style.css" %}" rel="stylesheet">
      <title>Science Shaped</title>
      {% include 'material_design_links.html' %}
      <script src="{% static "js/scroll.js" %}"></script>
      <link rel="shortcut icon" type="image/ico" href="{% static "img/favicon.ico" %}"/>
    </head>

    {% include 'header.html' %}

    <body>

      <div id="footerSpacer"></div>

      {% include 'info.html' %}
      {% include 'illustrations.html' %}
      {% include 'testimonials.html' %}
      {% include 'imagepopup.html' %}
      {% include 'delete.html' %}
      {% include 'about.html' %}
      {% include 'contact.html' %}

    </body>

    {% include 'footer.html' %}

  {% else %}
    <img style="display: block; margin: 200px auto; max-width: 800px; width: 90%;" src="/static/img/card.png">
  {% endif %}
  <script src="{% static "js/analytics.js" %}"></script>
</html>
