textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 1px 0 0 var(--accent-color);
}
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 1px 0 0 var(--accent-color);
}
