#illustrations {
  position: relative;
  margin-top: 100px;
}
#illustrations header {
  position: absolute;
  left: 30%;
  transform: translate(0, -50%);
  z-index: 10;
}
#illustrations h3 {
  float: left;
}
.illustration {
  width: 360px;
  display: inline-block;;
}
.illustration .card-image {
  position: relative;
  height: 300px;
}
.illustration .card-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.illustration .card-content {
  height: 150px;
}
.illustration .card-action {
  margin-left: -10px;
}
.illustration .readmore {
  color: #000 !important;
}
#categoriesButtonDiv {
  float: left;
  margin-top: 26px;
  margin-left: 5px;
}
#categoriesDiv {
  margin-top: 100px;
}
