#illustrations {
  position: relative;
  margin-top: 100px;
}
#illustrationsTop {
  position: absolute;
  left: 40%;
  transform: translate(0, -50%);
  z-index: 10;
}
#illustrations h3 {
  float: left;
}
.illustration {
  width: 360px;
  margin: 7px 5px;
  display: inline-block;;
}
.illustration .card-image {
  position: relative;
  height: 300px;
}
.illustration .card-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.illustration .card-content {
  height: 130px;
  margin-top: -40px;
}
.illustration .cardActions {
  margin-left: -10px;
  height: 50px;
}
.illustration .cardActions .btn-flat {
  margin-top: -14px;
}
.adminActions {
  text-align: center;
  height: 45px;
}
.adminActions .btn-flat {
  margin-top: -20px;
}
.illustration .readmore, .editorButton {
  color: #000 !important;
}
#categoriesButtonDiv {
  float: left;
  margin-top: 26px;
  margin-left: 20px;
}
#categoriesDiv {
  margin-top: 100px;
}
#newIco {
  position: absolute;
  left: 35px;
  top: 0;
}
