#testimonials {
  background: #aaa;
  width: 100%;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 80px;
  position: relative;
}
#slider {
  width: 60%;
  margin: auto;
}
h3 {
  text-align: center;
}
.testimonial {
  position: relative;
  margin: 20px auto;
  padding: 20px 30px;
  height: inherit !important;
  outline: 0;
}
.testimonialText {
  width: calc(90% - 200px);
  float: right;
}
.testimonialMessage {
  font-size: 16px;
}
.testimonialPerson {
  font-size: 14px;
}
.testimonialLeft {
  float: left;
}
.testimonialImage {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-left: 50px;
}
.quote {
  float: left;
  margin-top: 10px;
  margin-left: -5px;
}
#newTestimonial {
  position: absolute;
  top: 50px;
  left: 3%;
}
#testimonialEditor {
  margin-left: 20px;
  margin-top: 20px;
}
