{% load staticfiles %}

<section id="about">
    {% if perms.contentbox.change_contentbox %}
        <div class="admin buttons">
            <a class="ui button who admin blue" href="/contentbox/who/edit">Edit who</a>
            <a class="ui button why admin blue" href="/contentbox/why/edit">Edit why</a>
        </div>
    {% endif %}

    <div class="ui text container">
        <h1 class="ui header">About</h1>
        <div class="ui stackable grid">
            <div id="why" class="six wide column">
                <h3 class="ui header">WHY</h3>
                {% autoescape off %}
                    {{ whyContent }}
                {% endautoescape %}
                <ul>
                    <li>A - attention-evoking</li>
                    <li>S - story telling</li>
                    <li>S - swift information</li>
                    <li>E - essential message</li>
                    <li>T - tutoring</li>
                </ul>
            </div>
            <div id="who" class="ten wide column">
                <h3 class="ui header">WHO</h3>
                {% autoescape off %}
                    {{ whoContent }}
                {% endautoescape %}
                <br>
            </div>
        </div>
    </div>
    <div class="ui text container">
        <h3 class="ui header">Former working places</h3>
        <ul>
            <li>OUS- Institute for <c class="accdk">Cancer Research</c>, Dept of Tumor Biology and Dept of Cancer Immunity</li>
            <li>The Norwegian
                <c class="accdk">Medicines Agency</c>
            </li>
            <li>Norwegian Institute of
                <c class="accdk">Public Health</c>
            </li>
            <li>Vestfold
                <c class="accdk">University College</c>
                (now University College of Southeast Norway)
            </li>
            <li>Learn more about my professional background and experience at <a id="linkedin"
                                                                                 href="https://www.linkedin.com/in/ellen-tenstad-5b3b0631">LinkedIn</a>
            </li>
        </ul>
        <p id="mission">My mission is to facilitate science by effective visualisation</p>
    </div>
</section>
