{% load staticfiles %}

<section id="about">
    {% if perms.contentbox.change_contentbox %}
        <div class="admin buttons">
            <a class="ui button who admin blue" href="/contentbox/about/edit">Edit about</a>
        </div>
    {% endif %}

    <div class="ui text container">
        <h1 class="ui header">About</h1>
        <div class="about grid">
            <div id="ellen" style="text-align: center; width: 100%;">
                <img src="{% static "scienceshaped/img/ellen.jpg" %}" style="width: 100%; max-width: 300px; display: inline-block;">
            </div>
            <div id="aboutcontent">
                {% autoescape off %}
                    {{ aboutContent }}
                {% endautoescape %}
            </div>
        </div>
    </div>
    <div class="ui text logos container" style="margin-top: 20px;">
        <p>Recommended by</p>
        <img src="{% static "scienceshaped/img/logos/UiO.png" %}">
        <img src="{% static "scienceshaped/img/logos/OUS.png" %}">
        <img src="{% static "scienceshaped/img/logos/UiB.png" %}">
        <img src="{% static "scienceshaped/img/logos/NTNU.png" %}">
        <img src="{% static "scienceshaped/img/logos/RCN.png" %}">
    </div>
    <div class="ui text container" style="margin-top: 30px;">
        <p id="mission">My mission is to facilitate science by effective visualisation</p>
    </div>
</section>
