{% load staticfiles %}

<section id="contact">
  <div class="ui text container">
    <h1 class="ui header">Contact</h1>
    <div class="ui container" style="text-align: center; margin-bottom: 20px;">
        <p style="line-height: 28px">Science Shaped org no 914 911 664<br>
        Hasselveien 15, 1344 Haslum<br>
        <i class="ui phone icon" style="font-size: 22px;"></i>+47 408 55 080</p>
    </div>
    <form class="ui form contact" action="" method="post">
      {% csrf_token %}

      <div class="field">
        <label for="{{ mailForm.email.id_for_label }}">
          Your Email
        </label>
        <input id="{{ mailForm.email.id_for_label }}"
          name="email"
          type="text"
          maxlength="{{ mailForm.fields.email.max_length }}"
          value="{{ mailForm.email.value|default:'' }}">

        {% if mailForm.email.errors %}
          <div class="ui blue pointing label">
            {{ mailForm.email.errors.0 }}
          </div>
        {% endif %}
      </div>

      <div class="field">
        <label for="{{ mailForm.subject.id_for_label }}">
          Subject
        </label>
        <input id="{{ mailForm.subject.id_for_label }}"
          name="subject"
          type="text"
          maxlength="{{ mailForm.fields.subject.max_length }}"
          value="{{ mailForm.subject.value|default:'' }}">

        {% if mailForm.subject.errors %}
          <div class="ui blue pointing label">
            {{ mailForm.subject.errors.0 }}
          </div>
        {% endif %}
      </div>

      <div class="field">
        <label for="{{ mailForm.message.id_for_label }}">
          Message
        </label>
        <textarea id="{{ mailForm.message.id_for_label }}"
          name="message"
          type="text"
          maxlength="{{ mailForm.fields.message.max_length }}"
        >{{ mailForm.message.value|default:'' }}</textarea>

        {% if mailForm.message.errors %}
          <div class="ui blue pointing label">
            {{ mailForm.message.errors.0 }}
          </div>
        {% endif %}
      </div>

      <div class="ui fluid large submit button blue contact">Send</div>
      <script>
        $('.contact.submit').click(function() {
          $('form.contact').submit();
        });
      </script>
    </form>
  </div>

  {% if mailForm.errors %}
    <script>
      $(function(){
        $('a[href="#contact"]').click();
      });
    </script>
{% endif %}
</section>
