{% load staticfiles %}

{% if mailForm.errors %}
<script>
  $(function(){
    $('a[href="#contact"]').click();
  });
</script>
{% endif %}

<section id="contact">
  <div class="ui text container">
    <h1>Contact</h1>
    <form class="ui form contact" action="" method="post">
      {% csrf_token %}

      <div class="field">
        <label for="{{ mailForm.email.id_for_label }}">
          Email
        </label>
        <input id="{{ mailForm.email.id_for_label }}"
          name="title"
          type="text"
          maxlength="{{ mailForm.fields.email.max_length }}"
          value="{{ formailFormm.email.value }}">

        {% if mailForm.email.errors %}
          <div class="ui blue pointing label">
            {{ mailForm.email.errors.0 }}
          </div>
        {% endif %}
      </div>

      <div class="field">
        <label for="{{ mailForm.subject.id_for_label }}">
          Subject
        </label>
        <input id="{{ mailForm.subject.id_for_label }}"
          name="title"
          type="text"
          maxlength="{{ mailForm.fields.subject.max_length }}"
          value="{{ formailFormm.subject.value }}">

        {% if mailForm.subject.errors %}
          <div class="ui blue pointing label">
            {{ mailForm.subject.errors.0 }}
          </div>
        {% endif %}
      </div>

      <div class="field">
        <label for="{{ mailForm.message.id_for_label }}">
          Message
        </label>
        <textarea id="{{ mailForm.message.id_for_label }}"
          name="message"
          type="text"
          maxlength="{{ mailForm.fields.message.max_length }}"
        >{{ mailForm.message.value }}</textarea>

        {% if mailForm.message.errors %}
          <div class="ui blue pointing label">
            {{ mailForm.message.errors.0 }}
          </div>
        {% endif %}
      </div>

      <div class="ui fluid large submit button blue contact">Send</div>
      <script>
        $('.contact.submit').click(function() {
          $('form.contact').submit();
        });
      </script>
    </form>
  </div>
</section>
