<div class="ui blue inverted vertical footer segment">
    <div class="ui text container">
        <div class="ui stackable inverted grid">
            <div class="five wide column">
                <h2 class="ui inverted header">Science Shaped</h2>
                <div class="ui inverted">
                    <p class="item">Ellen Tenstad, PhD</p>
                </div>
            </div>
            <div class="six wide right floated column">
                <a class="item" href="http://amund.tenstad.com/" target="_blank">Developed by Amund Tenstad</a>
            </div>
        </div>
        <div class="copyright">
            <p>© {% now "Y" %} Science Shaped</p><p>All Rights Reserved</p>
        </div>
    </div>
</div>
