{% load staticfiles %}
{% load scienceshaped_range %}
<html>

  <head>
    {% include 'material_design_links.html' %}
    <link href="{% static "css/colors.css" %}" rel="stylesheet">
    <link href="{% static "css/editform.css" %}" rel="stylesheet">
    <link href="{% static "css/button_image.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{% static "img/favicon.ico" %}"/>
    {% if new %}
    <title>Create new illustration</title>
    {% else %}
    <title>Edit illustration</title>
    {% endif %}
  </head>

  <body>
    <form id="editForm" action="" method="post">
        {% csrf_token %}

        {{ form.title.errors }}
        <div class="input-field">
          <label for="{{ form.title.id_for_label }}">Title</label>
          <input id="{{ form.title.id_for_label }}" name="title" type="text" maxlength="{{ form.fields.title.max_length }}" value="{{ form.title.value }}">
        </div>

        {{ form.description.errors }}
        <div class="input-field">
          <label for="{{ form.description.id_for_label }}">Description</label>
          <textarea id="{{ form.description.id_for_label }}" name="description" class="materialize-textarea" maxlength="{{ form.field.description.max_length }}">{{ form.description.value }}</textarea>
        </div>

        {{ form.tags.errors }}
        <div class="input-field">
          <label for="{{ form.tags.id_for_label }}">Tags</label>
          <input id="{{ form.tags.id_for_label }}" name="tags" type="text" maxlength="{{ form.fields.tags.max_length }}" value="{{ form.tags.value }}">
        </div>

        {{ form.date.errors }}
        <div class="input-field">
          <label for="{{ form.date.id_for_label }}">Date</label>
          <input id="{{ form.date.id_for_label }}" class="datepicker" name="date" type="date" value="{{ form.date.value }}">
        </div>

        {{ form.thumbnail_size.errors }}
        <div class="input-field">
          <label for="{{ form.thumbnail_size.id_for_label }}">Thumbnail size (%)</label>
          <input id="{{ form.thumbnail_size.id_for_label }}" name="thumbnail_size" type="text" maxlength="{{ form.fields.thumbnail_size.max_length }}" value="{{ form.thumbnail_size.value }}">
        </div>

        <div class="input-field imageNumberSelector">
          <select>
            <option value="0" {% if form.numberOfImages.value == 0 %}selected{% endif %}>0</option>
            <option value="1" {% if form.numberOfImages.value == 1 %}selected{% endif %}>1</option>
            <option value="2" {% if form.numberOfImages.value == 2 %}selected{% endif %}>2</option>
            <option value="3" {% if form.numberOfImages.value == 3 %}selected{% endif %}>3</option>
          </select>
          <label>Number of images</label>
        </div>

        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active">Thumbnail</div>
            <div class="collapsible-body" imageID=0>
              {{ form.thumbnail.errors }}
              <div class="input-field">
                <label for="{{ form.thumbnail.id_for_label }}">Thumbnail</label>
                <input id="{{ form.thumbnail.id_for_label }}" class="imageField" imageID=0 name="thumbnail" type="text" maxlength="{{ form.fields.thumbnail.max_length }}" value="{{ form.thumbnail.value }}">
              </div>
              <img class="thumbnailPicker" imageID=0 src="{{ form.thumbnail.value }}"></img>
            </div>
          </li>
          <li>
            <div class="collapsible-header" imageID=1>Image 1</div>
            <div class="collapsible-body">
              {{ form.image1.errors }}
              <div class="input-field">
                <label for="{{ form.image1.id_for_label }}">Image</label>
                <input id="{{ form.image1.id_for_label }}" class="imageField" imageID=1 name="image1" type="text" maxlength="{{ form.fields.image1.max_length }}" value="{{ form.image1.value }}">
              </div>
              <img class="thumbnailPicker" imageID=1 src="{{ form.image1.value }}"></img>
            </div>
          </li>
          <li>
            <div class="collapsible-header" imageID=2>Image 2</div>
            <div class="collapsible-body">
              {{ form.image2.errors }}
              <div class="input-field">
                <label for="{{ form.image2.id_for_label }}">Image</label>
                <input id="{{ form.image2.id_for_label }}" class="imageField" imageID=2 name="image2" type="text" maxlength="{{ form.fields.image2.max_length }}" value="{{ form.image2.value }}">
              </div>
              <img class="thumbnailPicker" imageID=2 src="{{ form.image2.value }}"></img>
            </div>
          </li>
          <li>
            <div class="collapsible-header" imageID=3>Image 3</div>
            <div class="collapsible-body">
              {{ form.image3.errors }}
              <div class="input-field">
                <label for="{{ form.image3.id_for_label }}">Image</label>
                <input id="{{ form.image3.id_for_label }}" class="imageField" imageID=3 name="image3" type="text" maxlength="{{ form.fields.image3.max_length }}" value="{{ form.image3.value }}">
              </div>
              <img class="thumbnailPicker" imageID=3 src="{{ form.image3.value }}"></img>
            </div>
          </li>
        </ul>

        <script>
          $(function(){
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15 // Creates a dropdown of 15 years to control year
            });

            $('.collapsible').collapsible({
              accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });

            $('select').material_select();

            $(".collapsible-header").each(function(index) {
              if (index > {{ form.numberOfImages.value }}) {
                $(this).css("display", "none");
              }
            });

            $(".imageNumberSelector").find('input').attr("name", "numberOfImages");
            $(".imageNumberSelector").find('input').attr("id", "id_numberOfImages");
          });

          $(".thumbnailPicker").click(function() {
              imageID = $(this).attr("imageID");
              thumbWindow = window.open('/files/images');
          });

          function selectThumnail(thumb) {
              thumbWindow.close();
              $("input[imageID^=" + imageID + "]").val(thumb);
              $(".thumbnailPicker[imageID^=" + imageID + "]").attr("src", thumb);
          }

          $(".imageField").change(function() {
            $(".thumbnailPicker[imageID^=" + $(this).attr("imageID") + "]").attr("src", $(this).val());
          });

          $(".imageNumberSelector").change(function() {
            images = $(this).find('input').val();
            $(".collapsible-header").each(function(index) {
              if (index <= images) {
                $(this).css("display", "block");
              } else {
                $(this).css("display", "none");
              }
            });
          });
        </script>

        <button id="submit" class="btn waves-effect waves-light blue" type="submit" name="action">Save
          <img src="{% static "img/ic_save_white_24px.svg" %}">
        </button>
    </form>
  </body>

</html>
