{% load staticfiles %}
{% load scienceshaped_range %}
<html>

  <head>
    {% include 'material_design_links.html' %}
    <link href="{% static "css/colors.css" %}" rel="stylesheet">
    <link href="{% static "css/editform.css" %}" rel="stylesheet">
    <link href="{% static "css/button_image.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{% static "img/favicon.ico" %}"/>
    {% if new %}
    <title>Create new illustration</title>
    {% else %}
    <title>Edit illustration</title>
    {% endif %}
  </head>

  <body>
    <form id="editForm" action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {{ form.title.errors }}
        <div class="input-field">
          <label for="{{ form.title.id_for_label }}">Title</label>
          <input id="{{ form.title.id_for_label }}" name="title" type="text" maxlength="{{ form.fields.title.max_length }}" value="{{ form.title.value }}">
        </div>

        {{ form.short.errors }}
        <div class="input-field">
          <label for="{{ form.short.id_for_label }}">Short Description</label>
          <textarea id="{{ form.short.id_for_label }}" name="short" class="materialize-textarea" maxlength="{{ form.field.short.max_length }}">{{ form.short.value }}</textarea>
        </div>

        {{ form.description.errors }}
        <div class="input-field">
          <label for="{{ form.description.id_for_label }}">Description</label>
          <textarea id="{{ form.description.id_for_label }}" name="description" class="materialize-textarea" maxlength="{{ form.field.description.max_length }}">{{ form.description.value }}</textarea>
        </div>

        {{ form.tags.errors }}
        <div class="input-field">
          <label for="{{ form.tags.id_for_label }}">Tags</label>
          <input id="{{ form.tags.id_for_label }}" name="tags" type="text" maxlength="{{ form.fields.tags.max_length }}" value="{{ form.tags.value }}">
        </div>

        {{ form.url.errors }}
        <div class="input-field">
          <label for="{{ form.url.id_for_label }}">Url</label>
          <input id="{{ form.url.id_for_label }}" name="url" type="text" maxlength="{{ form.fields.url.max_length }}" value="{{ form.url.value }}">
        </div>

        {{ form.pdf.errors }}
        <div class="file-field input-field">
          <div class="btn blue">
            <span>PDF</span>
            <input id="id_pdf" type="file" name="pdf">
          </div>
          <div id="pdfclear" class="btn waves-effect waves-light red">Clear</div>
          <div class="file-path-wrapper">
            <input id="pdf_path" class="file-path validate" type="text" name="path" value="{{ form.pdf.value }}">
          </div>
        </div>

        {{ form.date.errors }}
        <div class="input-field">
          <label for="{{ form.date.id_for_label }}">Date</label>
          <input id="{{ form.date.id_for_label }}" class="datepicker" name="date" type="date" value="{{ form.date.value }}">
        </div>

        {{ form.thumbnail_size.errors }}
        <div class="input-field">
          <label for="{{ form.thumbnail_size.id_for_label }}">Thumbnail size (%)</label>
          <input id="{{ form.thumbnail_size.id_for_label }}" name="thumbnail_size" type="text" maxlength="{{ form.fields.thumbnail_size.max_length }}" value="{{ form.thumbnail_size.value }}">
        </div>

        <div style="display: none">
          {{ form.thumbnail.errors }}
          <div class="input-field">
            <label for="{{ form.thumbnail.id_for_label }}">Thumbnail</label>
            <input id="{{ form.thumbnail.id_for_label }}" class="imageField" imageID=0 name="thumbnail" type="number" value="{{ form.thumbnail.value }}">
          </div>

          {{ form.image1.errors }}
          <div class="input-field">
            <label for="{{ form.image1.id_for_label }}">Image</label>
            <input id="{{ form.image1.id_for_label }}" class="imageField" imageID=1 name="image1" type="number" value="{{ form.image1.value }}">
          </div>

          {{ form.image2.errors }}
          <div class="input-field">
            <label for="{{ form.image2.id_for_label }}">Image</label>
            <input id="{{ form.image2.id_for_label }}" class="imageField" imageID=2 name="image2" type="number" value="{{ form.image2.value }}">
          </div>

          {{ form.image3.errors }}
          <div class="input-field">
            <label for="{{ form.image3.id_for_label }}">Image</label>
            <input id="{{ form.image3.id_for_label }}" class="imageField" imageID=3 name="image3" type="number" value="{{ form.image3.value }}">
          </div>
        </div>

        <label>Thumbnail</label><br>
        <div class="imageItem card thumbnailPicker" imageID=0>
          <div class="card-image previewButton" style="background-image: url(/files/image/{{ form.thumbnail.value }}/view);"></div>
        </div>

        <div class="input-field imageNumberSelector">
          <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label>Number of images</label>
        </div>

        <label class="image" imageID=1>Images</label><br>
        <div class="imageItem card thumbnailPicker image" imageID=1>
          <div class="card-image" style="background-image: url(/files/image/{{ form.image1.value }}/view);"></div>
        </div>

        <div class="imageItem card thumbnailPicker image" imageID=2>
          <div class="card-image" style="background-image: url(/files/image/{{ form.image2.value }}/view);"></div>
        </div>

        <div class="imageItem card thumbnailPicker image" imageID=3>
          <div class="card-image" style="background-image: url(/files/image/{{ form.image3.value }}/view);"></div>
        </div>

        <button id="submit" class="btn waves-effect waves-light blue" type="submit" name="action">Save
          <img src="{% static "img/ic_save_white_24px.svg" %}">
        </button>

    </form>

    <script>
      $(function(){
        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15 // Creates a dropdown of 15 years to control year
        });

        $('select').material_select();

        $(".imageNumberSelector").find('input').attr("name", "numberOfImages");
        $(".imageNumberSelector").find('input').attr("id", "id_numberOfImages");
        $(".imageNumberSelector").find('input').val({{ form.numberOfImages.value }});

        images = $(".imageNumberSelector").find('input').val();
        $(".image").each(function(index) {
          if ($(this).attr("imageID") <= images) {
            $(this).css("display", "inline-block");
          } else {
            $(this).css("display", "none");
          }
        });

        $(".thumbnailPicker").click(function() {
            imageID = $(this).attr("imageID");
            thumbWindow = window.open('/files/images');
        });

        $("#pdfclear").click(function() {
          $("#id_pdf").val("");
          $("#pdf_path").val("");
        });
      });

      function selectThumnail(src, id) {
          thumbWindow.close();
          $("input[imageID^=" + imageID + "]").val(id);
          $(".thumbnailPicker[imageID^=" + imageID + "]").find("div").css("background-image", "url("+src+")");
      }

      $(".imageNumberSelector").change(function() {
        images = $(this).find('input').val();
        $(".image").each(function(index) {
          if ($(this).attr("imageID") <= images) {
            $(this).css("display", "inline-block");
          } else {
            $(this).css("display", "none");
          }
        });
      });
    </script>

  </body>

</html>
