{% load staticfiles %}
<html>

  <head>
    {% include 'material_design_links.html' %}
    <link href="{% static "css/colors.css" %}" rel="stylesheet">
    <link href="{% static "css/editform.css" %}" rel="stylesheet">
    <link href="{% static "css/button_image.css" %}" rel="stylesheet">
    {% if new %}
    <title>Create new illustration</title>
    {% else %}
    <title>Edit illustration</title>
    {% endif %}
  </head>

  <body>
    <form id="editForm" action="" method="post">
        {% csrf_token %}

        {{ form.title.errors }}
        <div class="input-field">
          <label for="{{ form.title.id_for_label }}">Title</label>
          <input id="{{ form.title.id_for_label }}" name="title" type="text" maxlength="{{ form.title.maxlength }}" value="{{ form.title.value }}">
        </div>

        {{ form.description.errors }}
        <div class="input-field">
          <label for="{{ form.description.id_for_label }}">Description</label>
          <textarea id="{{ form.description.id_for_label }}" name="description" class="materialize-textarea" maxlength="{{ form.description.maxlength }}">{{ form.description.value }}</textarea>
        </div>

        {{ form.tags.errors }}
        <div class="input-field">
          <label for="{{ form.tags.id_for_label }}">Tags</label>
          <input id="{{ form.tags.id_for_label }}" name="tags" type="text" maxlength="{{ form.tags.maxlength }}" value="{{ form.tags.value }}">
        </div>

        {{ form.thumbnail.errors }}
        <div class="input-field">
          <label for="{{ form.thumbnail.id_for_label }}">Thumbnail</label>
          <input id="{{ form.thumbnail.id_for_label }}" name="thumbnail" type="text" maxlength="{{ form.thumbnail.maxlength }}" value="{{ form.thumbnail.value }}">
        </div>

        <img id="thumbnailPicker" src="{{ form.thumbnail.value }}"></img>

        <script>
          $("#thumbnailPicker").click(function() {
              thumbWindow = window.open('/files/images', 'width=920,height=640');
          });

          function selectThumnail(thumb) {
              thumbWindow.close();
              $("#id_thumbnail").val(thumb);
              $("#thumbnailPicker").attr("src", thumb);
          }

          $("#id_thumbnail").change(function() {
            $("#thumbnailPicker").attr("src", $("#id_thumbnail").val());
          });
        </script>

        {{ form.thumbnail_size.errors }}
        <div class="input-field">
          <label for="{{ form.thumbnail_size.id_for_label }}">Thumbnail size (%)</label>
          <input id="{{ form.thumbnail_size.id_for_label }}" name="thumbnail_size" type="text" maxlength="{{ form.thumbnail_size.maxlength }}" value="{{ form.thumbnail_size.value }}">
        </div>

        <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Save
          <img src="{% static "img/ic_save_white_24px.svg" %}">
        </button>
    </form>
  </body>

</html>
