{% load staticfiles %}
{% load authentication_groups %}
{% load scienceshaped_math %}
{% load scienceshaped_range %}

<link href="{% static "css/illustrations.css" %}" rel="stylesheet">
<link href="{% static "css/button_image.css" %}" rel="stylesheet">

<section id="illustrations">
  <div id="illustrationsTop">
    <h3>Illustrations</h3>

    <div id="categoriesButtonDiv">
      <a id="categoriesButton" class='dropdown-button btn blue' data-beloworigin="true" data-activates='categories'>Categories</a>
    </div>

    <div id="categoriesDiv">
      <ul id="categories" class="dropdown-content">
        <li><a class="filterItem">All</a></li>
        {% for tag in tags %}
        <li><a class="filterItem">{{ tag|title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <form action="/" method="post">
      {% csrf_token %}
      {{ filterForm }}
    </form>

    <script>
      $(".filterItem").click(function() {
        $("#id_search").val($(this).html());
        $("form").submit();
      });
    </script>
  </div>

  <br><br>

  <div id="illustrationSlider">
  {% for illustration in illustrations %}
    <div class="extraDivToFixSlider">
    <div class="illustration card">
      <div class="card-image">
        <img src="{{ illustration.thumbnail }}" style="max-width: calc({{ illustration.thumbnail_size }} / 100 * 350px); max-height: calc({{ illustration.thumbnail_size }} / 100 * 300px);">
      </div>
      <div class="card-content">
        <h5>{{ illustration.title }}</h5>
        <p>{{ illustration.description }}</p>
      </div>
      <div class="card-action cardActions">
        <a class="waves-effect waves-blue btn-flat readmore">Read more</a>
      </div>
      {% if request.user|inGroup:"editor" %}
        <div class="card-action adminActions">
          <a href="/projects/illustration/{{ illustration.id }}/edit" class="waves-effect waves-blue btn-flat editorButton">Edit</a>
          <a url="/projects/illustration/{{ illustration.id }}/delete/" class="waves-effect waves-blue btn-flat editorButton delete">Delete</a>
        </div>
      {% endif %}
    </div>
    </div>
  {% endfor %}
  </div>

  {% if request.user|inGroup:"editor" %}
  <a id="newIco" href="/projects/illustration/0/edit" class="btn-floating btn-large waves-effect waves-light blue"><img class="floatIcoImg" src="{% static "img/ic_add_white_24px.svg" %}"></a>
  {% endif %}

  <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
  <script>

    function createSlider() {
      $('#illustrationSlider').slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        speed: 500,
        autoplay: true,
        autoplaySpeed: 10000,
        responsive: [
          {% for i in 10|toInvRange %}
          {
            breakpoint: {{ i|multiply:'(336 + 15)'|divide:'0.85' }},
            settings: {
              slidesToShow: {{ i|add:'-1' }},
              slidesToScroll: {{ i|add:'-1' }},
            }
          },
          {% endfor %}
        ]
      });
    }

    $(document).ready(function(){
      createSlider();
    });

  </script>

</section>
