{% load staticfiles %}
{% load authentication_groups %}
{% load scienceshaped_math %}
{% load scienceshaped_range %}

<link href="{% static "css/illustrations.css" %}" rel="stylesheet">
<link href="{% static "css/button_image.css" %}" rel="stylesheet">

<section id="illustrations">
  <div id="illustrationsTop">
    <h1>Illustrations</h1>

    <div id="categoriesButtonDiv">
      <a id="categoriesButton" class='dropdown-button btn blue' data-beloworigin="true" data-activates='categories'>Categories</a>
      {% if request.user|inGroup:"editor" and tags %}
      <a id="categoriesDeleteButton" class='dropdown-button btn red' data-beloworigin="true" data-activates='categoriesDelete'>Delete</a>
      {% endif %}
    </div>

    <div id="categoriesDiv">
      <ul id="categories" class="dropdown-content">
        <li><a href="/" class="filterItem">All</a></li>
        {% for tag in tags %}
        <li><a href="/filter/{{ tag }}" class="filterItem">{{ tag|title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% if request.user|inGroup:"editor" %}
    <div id="categoriesDeleteDiv">
      <ul id="categoriesDelete" class="dropdown-content">
        {% for tag in tags %}
        <li><a url="/projects/illustrations/tag/{{ tag }}/delete" class="filterItem delete">{{ tag|title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

  <br><br>

  <div id="illustrationSlider">
    {% for illustration in illustrations %}
      <div class="extraDivToFixSlider">
      <div class="illustration card">
        <div class="card-image previewButton" previewImage="{{ illustration.thumbnail.url }}">
          <!--<a class="modal-trigger" href="#modal-image{{ illustration.id }}">-->
            <img src="{{ illustration.thumbnail.url }}" style="max-width: calc({{ illustration.thumbnail_size }} / 100 * 350px); max-height: calc({{ illustration.thumbnail_size }} / 100 * 300px);">
          <!--</a>-->
        </div>
        <div class="card-content">
          <h4>{{ illustration.title }}</h4>
          <p>{{ illustration.short}}</p>
        </div>
        <div class="card-action cardActions">
          <a class="modal-trigger waves-effect waves-blue btn-flat readmore" href="#modal-readmore{{ illustration.id }}">Read more</a>
        </div>
        {% if request.user|inGroup:"editor" %}
          <div class="card-action adminActions">
            <a href="/projects/illustration/{{ illustration.id }}/edit" class="waves-effect waves-blue btn-flat editorButton">Edit</a>
            <a url="/projects/illustration/{{ illustration.id }}/delete/" class="waves-effect waves-blue btn-flat editorButton delete">Delete</a>
          </div>
        {% endif %}
      </div>
      </div>
    {% endfor %}
  </div>

  {% for illustration in illustrations %}
    <div id="modal-readmore{{ illustration.id }}" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h2>{{ illustration.title }}</h2>
        <p>{{ illustration.description }}</p>
        <div class="modal-images">
          {% if illustration.numberOfImages >= 1 %}
            <div class="imageItem card">
              <div class="card-image previewButton" style="background-image: url({{ illustration.image1.url }});" previewImage="{{ illustration.image1.url }}"></div>
            </div>
          {% endif %}
          {% if illustration.numberOfImages >= 2 %}
            <div class="imageItem card">
              <div class="card-image previewButton" style="background-image: url({{ illustration.image2.url }});" previewImage="{{ illustration.image2.url }}"></div>
            </div>
          {% endif %}
          {% if illustration.numberOfImages >= 3 %}
            <div class="imageItem card">
              <div class="card-image previewButton" style="background-image: url({{ illustration.image3.url }});" previewImage="{{ illustration.image3.url }}"></div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <p class="date">{{ illustration.date|date:"M d, Y"}}</p>
        <a onclick="$('#modal-readmore{{ illustration.id }}').closeModal();" class="waves-effect waves-blue btn-flat">Close</a>
      </div>
    </div>
  {% endfor %}

  <!--<div id="modal-image{{ illustration.id }}" class="modal">
    <div class="modal-content">
      <img src="{{ illustration.thumbnail }}">
    </div>
  </div>-->

  <script>
    $(function(){
      $('.modal-trigger').leanModal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        in_duration: 300, // Transition in duration
        out_duration: 200, // Transition out duration
        starting_top: '4%', // Starting top style attribute
        ending_top: '10%', // Ending top style attribute
        ready: function() {}, // Callback for Modal open
        complete: function() {} // Callback for Modal close
      });
    });
  </script>

  {% if request.user|inGroup:"editor" %}
  <a id="newIco" href="/projects/illustration/0/edit" class="btn-floating btn-large waves-effect waves-light blue"><img class="floatIcoImg" src="{% static "img/ic_add_white_24px.svg" %}"></a>
  {% endif %}

  <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
  <script>

    function createSlider() {
      $('#illustrationSlider').slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        speed: 500,
        autoplay: true,
        autoplaySpeed: 10000,
        responsive: [
          {% for i in 10|toInvRange %}
          {
            breakpoint: {{ i|multiply:'(336 + 15)'|divide:'0.85' }},
            settings: {
              slidesToShow: {{ i|add:'-1' }},
              slidesToScroll: {{ i|add:'-1' }},
            }
          },
          {% endfor %}
        ]
      });
    }

    $(function(){
      createSlider();
    });

  </script>

</section>
