{% load staticfiles %}
{% load tags %}

<link href="{% static "css/illustrations.css" %}" rel="stylesheet">
<link href="{% static "css/button_image.css" %}" rel="stylesheet">

<section id="illustrations">
  <div id="illustrationsTop">
    <h3>Illustrations</h3>

    <div id="categoriesButtonDiv">
      <a id="categoriesButton" class='dropdown-button btn blue' data-beloworigin="true" data-activates='categories'>Categories</a>
    </div>

    <div id="categoriesDiv">
      <ul id="categories" class="dropdown-content">
        <li><a class="filterItem">All</a></li>
        <li><a class="filterItem">Logo</a></li>
        <li><a class="filterItem">Grant Application</a></li>
        <li><a class="filterItem">Doctoral Thesis</a></li>
      </ul>
    </div>

    <form action="/" method="post">
      {% csrf_token %}
      {{ form }}
    </form>

    <script>
      $(".filterItem").click(function() {
        $("#id_search").val($(this).html());
        $("form").submit();
      });
    </script>
  </div>

  <br><br>

  <div id="illustrationSlider">
  {% for illustration in illustrations %}
    <div class="extraDivToFixSlider">
    <div class="illustration card">
      <div class="card-image">
        <img src="{{ illustration.thumbnail }}" style="width: calc({{ illustration.thumbnail_size }} / 100 * 350px)">
      </div>
      <div class="card-content">
        <h5>{{ illustration.title }}</h5>
        <p>{{ illustration.description }}</p>
      </div>
      <div class="card-action cardActions">
        <a class="waves-effect waves-blue btn-flat readmore">Read more</a>
      </div>
      {% if request.user|inGroup:"editor" %}
        <div class="card-action adminActions">
          <a href="/projects/illustration/{{ illustration.id }}/edit" class="waves-effect waves-blue btn-flat editorButton">Edit</a>
          <a url="/projects/illustration/{{ illustration.id }}/delete/" class="waves-effect waves-blue btn-flat editorButton delete">Delete</a>
        </div>
      {% endif %}
    </div>
    </div>
  {% endfor %}
  </div>

  {% if request.user|inGroup:"editor" %}
  <a id="newIco" href="/projects/illustration/0/edit" class="btn-floating btn-large waves-effect waves-light blue"><img class="floatIcoImg" src="{% static "img/ic_add_white_24px.svg" %}"></a>
  {% endif %}

  <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
  <script>
    $(document).ready(function(){
      $('#illustrationSlider').slick({
        dots: true,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 4,
        speed: 500,
        autoplay: true,
        autoplaySpeed: 10000,
      });
    });
  </script>

</section>
