{% load staticfiles %}
{% load authentication_groups %}
<link rel="stylesheet" type="text/css" href="{% static "css/testimonials.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "slick/slick-theme.css" %}"/>

<section id="testimonials">
  <h3>Testimonials</h3>
  <div id="slider">
  {% for testimonial in testimonials %}
    <div class="testimonial">
      <div class="testimonialLeft">
        <img class="testimonialImage" src="{{ testimonial.thumbnail }}" />
        {% if request.user|inGroup:"editor" %}
        <div id="testimonialEditor">
          <a href="/projects/testimonial/{{ testimonial.id }}/edit" class="waves-effect waves-blue btn-flat editorButton">Edit</a>
          <a url="/projects/testimonial/{{ testimonial.id }}/delete/" class="waves-effect waves-blue btn-flat editorButton delete">Delete</a>
        </div>
        {% endif %}
      </div>
      <div class="testimonialText">
        <img class="quote" src="{% static "img/ic_format_quote_black_24px.svg" %}" />
        <p class="testimonialMessage">{{ testimonial.message }}</p>
        <p class="testimonialPerson">- {{ testimonial.person }}{% if testimonial.job != '' %}, {{ testimonial.job }}{% endif %}
        </p>
      </div>
    </div>
  {% endfor %}
  </div>

  {% if request.user|inGroup:"editor" %}
  <a id="newTestimonial" href="/projects/testimonial/0/edit" class="btn-floating btn-large waves-effect waves-light blue"><img class="floatIcoImg" src="{% static "img/ic_add_white_24px.svg" %}"></a>
  {% endif %}

  <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
  <script>
    $(document).ready(function(){
      $('#slider').slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        speed: 500,
        autoplay: true,
        autoplaySpeed: 10000,
      });
    });
  </script>

</section>
