{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/testimonials.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "slick/slick-theme.css" %}"/>

<section id="testimonals">
  <h3>Testimonials</h3>

  <div id="slider">
  {% for testimonial in testimonials %}
    <div class="testimonial card">
      <img class="testimonialImage" src="{{ testimonial.thumbnail }}" />
      <div class="testimonialText">
        <img class="quote" src="{% static "img/ic_format_quote_black_24px.svg" %}" />
        <p class="testimonialMessage">{{ testimonial.message }}</p>
        <p class="testimonialPerson">- {{ testimonial.person }}</p>
      </div>
    </div>
  {% endfor %}
  </div>

  <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
  <script>
    $(document).ready(function(){
      $('#slider').slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        speed: 500,
        autoplay: true,
        autoplaySpeed: 3000,
      });
    });
  </script>

</section>
