{% load staticfiles %}
<html>

  <head>
    {% include 'material_design_links.html' %}
    <link href="{% static "css/colors.css" %}" rel="stylesheet">
    <link href="{% static "css/editform.css" %}" rel="stylesheet">
    <link href="{% static "css/button_image.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{% static "img/favicon.ico" %}"/>
    {% if new %}
    <title>Create new testimonial</title>
    {% else %}
    <title>Edit testimonial</title>
    {% endif %}
  </head>

  <body>
    <form id="editForm" action="" method="post">
        {% csrf_token %}

        {{ form.person.errors }}
        <div class="input-field">
          <label for="{{ form.person.id_for_label }}">Person</label>
          <input id="{{ form.person.id_for_label }}" name="person" type="text" maxlength="{{ form.fields.person.max_length }}" value="{{ form.person.value }}">
        </div>

        {{ form.job.errors }}
        <div class="input-field">
          <label for="{{ form.job.id_for_label }}">Job</label>
          <textarea id="{{ form.job.id_for_label }}" name="job" class="materialize-textarea" maxlength="{{ form.fields.job.max_length }}">{{ form.job.value }}</textarea>
        </div>

        {{ form.message.errors }}
        <div class="input-field">
          <label for="{{ form.message.id_for_label }}">Message</label>
          <textarea id="{{ form.message.id_for_label }}" name="message" class="materialize-textarea" maxlength="{{ form.fields.message.max_length }}">{{ form.message.value }}</textarea>
        </div>

        {{ form.thumbnail.errors }}
        <div class="input-field">
          <label for="{{ form.thumbnail.id_for_label }}">Thumbnail</label>
          <input id="{{ form.thumbnail.id_for_label }}" name="thumbnail" type="text" maxlength="{{ form.fields.thumbnail.max_length }}" value="{{ form.thumbnail.value }}">
        </div>

        <img id="thumbnailPicker" src="{{ form.thumbnail.value }}"></img>

        <script>
          $("#thumbnailPicker").click(function() {
              thumbWindow = window.open('/files/images');
          });

          function selectThumnail(thumb) {
              thumbWindow.close();
              $("#id_thumbnail").val(thumb);
              $("#thumbnailPicker").attr("src", thumb);
          }

          $("#id_thumbnail").change(function() {
            $("#thumbnailPicker").attr("src", $("#id_thumbnail").val());
          });
        </script>

        <br><br>

        <button id="submit" class="btn waves-effect waves-light blue" type="submit" name="action">Save
          <img src="{% static "img/ic_save_white_24px.svg" %}">
        </button>
    </form>
  </body>

</html>
