{% load staticfiles %}
{% load scienceshaped_helpers %}
{% load thumbnail %}

<div id="portfolio" class="illustrations section">
    {% if perms.projects.add_illustration %}
        <div class="admin buttons">
            <a class="ui button blue admin" href="/projects/illustration/0/edit">New</a>
        </div>
    {% endif %}

    <div id="illustrationsTop">
        <h1 class="ui header">Portfolio</h1>
    </div>

    <br><br>

    <div id="gallery" class="ui container">
        <div class="ui centered grid">
            {% for illustration in illustrations %}
                <div class="ui card {{ illustration.tags.all|add_prefix:"category_"|join_by:" " }}">
                    {% if perms.projects.edit_illustration or perms.projects.delete_illustration %}
                        <div class="content">
                            <div class="editor buttons">
                                {% if perms.projects.add_illustration %}
                                    <a class="ui green right ribbon label"
                                       href="/projects/illustration/{{ illustration.id }}/edit">Edit</a>
                                {% endif %}
                                <br>
                                {% if perms.projects.delete_illustration %}
                                    <a class="ui red right ribbon label delete openmodal"
                                       url="/projects/illustration/{{ illustration.id }}/delete/"
                                       class="delete openmodal">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="image previewButton" previewImage="
                        {% thumbnail illustration.main_image.file "1080" crop="center" as im %}{{ im.url }}{% endthumbnail %}">
                        {% thumbnail illustration.thumbnail.file "300" crop="center" as im %}
                            <img class="removeloader" src="{{ im.url }}"
                             style="background-color: {{ illustration.background_color|default_if_none:"#ffffff" }}">
                        {% endthumbnail %}
                        <div class="ui active dimmer">
                            <div class="ui loader"></div>
                        </div>
                    </div>
                    <div class="extra content">
                        <a class="readmore" illustration="{{ illustration.id }}">
                            <i class="info icon"></i>
                            Read more
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% for illustration in illustrations %}
        <div class="ui modal {{ illustration.id }}">
            <i class="close icon"></i>
            <!--div class="header">
        {{ illustration.title }}
      </div-->

            <div class="description">
                <div class="previewButton main image"
                     previewImage="
                    {% thumbnail illustration.main_image.file "1080" crop="center" as im %}{{ im.url }}{% endthumbnail %}">
                    {% thumbnail illustration.main_image.file "1080" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                </div>
                <div class="ui header">{{ illustration.title }}</div>
                <p>
                    {% for line in illustration.short_lines %}
                        {{ line }}<br>
                    {% endfor %}
                </p>
                <p>
                    {% for line in illustration.description_lines %}
                        {{ line }}<br>
                    {% endfor %}
                </p>
                {% if illustration.url %}
                  <p>
                    {{ illustration.url_description|default:"More " }} <a href="{{ illustration.url }}" target="_blank">here</a>.
                  </p>
                {% endif %}
                {% if illustration.pdf %}
                  <p>
                    Publication <a href="/media/{{ illustration.pdf }}" target="_blank">here</a>.
                  </p>
                {% endif %}
                {% for image in illustration.images.all %}
                    <div class="ui card">
                        <div class="image modalimg previewButton" previewImage="{{ image.url }}">
                            <img src="{{ image.url }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="actions">
                <div class="date">
                    <p>{{ illustration.date|date:"M d, Y" }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="ui text-centered container buttons" style="margin-top: 100px;">
        {% for category in illustrationCategories %}
            <div class="categorySelector">
                {% thumbnail category.thumb.file "200x200" crop="center" as im %}
                    <img class="ui {% if category == illustrationCategories.first %}small{% else %}tiny{% endif %}
                circular category selection image" src="{{ im.url }}" tag="{{ category.tag }}">
                {% endthumbnail %}
                <p style="font-size: 12px">{{ category.title }}</p>
            </div>
        {% endfor %}
    </div>

    <script src="{% static "projects/js/illustrations.js" %}"></script>

    <script>
        onlyShow("{{ illustrationCategories.first.tag }}");

        $('#portfolio .category.image').click(function () {
            $('#portfolio .selection.image').removeClass('small').addClass('tiny');
            $(this).addClass('small');
            var tag = $(this).attr('tag');
            onlyShow(tag);
            jQuery(window).trigger('resize').trigger('scroll');
        });

        function onlyShow(category) {
            $('#portfolio .card').css('display', 'none');
            $('#portfolio .card').each(function () {
                if ($(this).hasClass("category_" + category)) {
                    $(this).css('display', 'block');
                }
            });
        }
    </script>
</div>
