{% load staticfiles %}
{% load thumbnail %}

<div class="parallax-window" data-parallax="scroll" data-image-src="{% static "scienceshaped/img/triangles.jpg" %}">

    <div class="testimonials section">
        {% if perms.projects.add_testimonial or perms.projects.change_testimonial or perms.projects.delete_testimonial %}
            <div class="admin buttons">
                {% if perms.projects.add_testimonial %}
                    <a class="ui inverted admin button" href="/projects/testimonial/0/edit">New</a>
                {% endif %}
                {% if perms.projects.change_testimonial %}
                    <a class="ui inverted admin edit button"
                       href="/projects/testimonial/{{ testimonials.first.id }}/edit">Edit</a>
                {% endif %}
                {% if perms.projects.delete_testimonial %}
                    <a class="ui inverted admin button delete openmodal"
                       url="/projects/testimonial/{{ testimonials.first.id }}/delete/">Delete</a>
                {% endif %}
            </div>
        {% endif %}

        <div class="ui huge centered inverted header">Testimonials</div>

        <div class="ui text testimonial container">
            <div>
                <i class="icon quote left"></i>
                <span class="display message">{{ testimonials.first.message }}</span>
            </div>
            <p class="display author">{{ testimonials.first.person }}</p>
            <p class="display job">{{ testimonials.first.job }}</p>
            <!--p class="display date">{{ testimonials.first.date|date:"M Y" }}</p-->

        </div>

        <div class="ui text text-centered container">
            {% for testimonial in testimonials %}
                {% thumbnail testimonial.thumbnail.file "200x200" crop="center" as im %}
                    <img class="ui {% if testimonial == testimonials.first %}small{% else %}tiny{% endif %}
                circular testimonial image" src="{{ im.url }}" pk="{{ testimonial.pk }}">
                {% endthumbnail %}
            {% endfor %}
        </div>

        {% for testimonial in testimonials %}
            <div class="hidden message" pk="{{ testimonial.pk }}">{{ testimonial.message }}</div>
            <div class="hidden author" pk="{{ testimonial.pk }}">{{ testimonial.person }}</div>
            <div class="hidden job" pk="{{ testimonial.pk }}">{{ testimonial.job }}</div>
            <div class="hidden date" pk="{{ testimonial.pk }}">{{ testimonial.date|date:"M Y" }}</div>
        {% endfor %}
    </div>
</div>


<script>
    $('.parallax-window').parallax({
        imageSrc: '{% static "scienceshaped/img/triangles.jpg" %}',
    });

    $('.testimonial.image').click(function () {
        $('.testimonial.image').removeClass('small').addClass('tiny');
        $(this).addClass('small');
        var pk = $(this).attr('pk');
        $('.display.message').html($('.hidden.message[pk=' + pk + ']').html());
        $('.display.author').html($('.hidden.author[pk=' + pk + ']').html());
        $('.display.job').html($('.hidden.job[pk=' + pk + ']').html());
        $('.display.date').html($('.hidden.date[pk=' + pk + ']').html());
        {% if perms.projects.change_testimonial %}
            $('.edit.button').attr('href', '/projects/testimonial/' + pk + '/edit');
        {% endif %}
        {% if perms.projects.delete_testimonial %}
            $('.delete.button').attr('url', '/projects/testimonial/' + pk + '/delete');
        {% endif %}
    });
</script>