{% load staticfiles %}
{% load thumbnail %}

<div id="testimonials" class="parallax-window" data-parallax="scroll" data-image-src="{% static "scienceshaped/img/triangles.jpg" %}" style="position: relative;">

    <div class="testimonials section">
        {% if perms.projects.add_testimonial or perms.projects.change_testimonial or perms.projects.delete_testimonial %}
            <div class="admin buttons">
                {% if perms.projects.add_testimonial %}
                    <a class="ui inverted admin button" href="/projects/testimonial/0/edit">New</a>
                {% endif %}
                {% if perms.projects.change_testimonial %}
                    <a class="ui inverted admin edit button"
                       href="/projects/testimonial/{{ testimonials.first.id }}/edit">Edit</a>
                {% endif %}
                {% if perms.projects.delete_testimonial %}
                    <a class="ui inverted admin button delete openmodal"
                       url="/projects/testimonial/{{ testimonials.first.id }}/delete/">Delete</a>
                {% endif %}
            </div>
        {% endif %}

        <div class="ui huge centered inverted header">Testimonials</div>

        <div class="ui testimonial container">
            {% for testimonial in testimonials %}
                <div class="testimonial item" pk="{{ testimonial.pk }}">
                    <div>
                        <i class="icon quote left"></i>
                        <span class="display message">{{ testimonial.message }}</span>
                    </div>
                    <p class="display author">{{ testimonial.person }}</p>
                    <p class="display job">{{ testimonial.job }}</p>
                    <!--p class="display date">{{ testimonial.date|date:"M Y" }}</p-->
                </div>
            {% endfor %}
        </div>

        <div class="ui text-centered container buttons" style="margin-top: 30px;">
            <div class="categorySelector" style="height: 120px; display: inline-block;"></div>
            {% for testimonial in testimonials %}
                {% thumbnail testimonial.thumbnail.file "200x200" crop="center" as im %}
                    <img class="ui {% if testimonial == testimonials.first %}small{% else %}tiny{% endif %}
                circular testimonial selection image" src="{{ im.url }}" pk="{{ testimonial.pk }}">
                {% endthumbnail %}
            {% endfor %}
        </div>
    </div>
</div>
</div>

<script>
    $('.testimonial.item[pk=' + {{ testimonials.first.pk }} +']').css('visibility', 'visible');

    $('.parallax-window').parallax({
        imageSrc: '{% static "scienceshaped/img/triangles.jpg" %}',
    });

    $('.testimonial.image').click(function () {
        $('.testimonial.selection.image').removeClass('small').addClass('tiny');
        $(this).addClass('small');
        var pk = $(this).attr('pk');
        $('.testimonial.item').css('visibility', 'hidden');
        $('.testimonial.item[pk=' + pk + ']').css('visibility', 'visible');
        {% if perms.projects.change_testimonial %}
            $('.edit.button').attr('href', '/projects/testimonial/' + pk + '/edit');
        {% endif %}
        {% if perms.projects.delete_testimonial %}
            $('.delete.button').attr('url', '/projects/testimonial/' + pk + '/delete');
        {% endif %}
    });

    $(function () {
        setTimeout(reszie_testimonials(), 100);
    });

    $(window).resize(function () {
        reszie_testimonials();
    });

    function reszie_testimonials() {
        height = Math.max(...$.map($('.testimonial.item'), function (item) {
            return item.clientHeight;
        }));
        $('.testimonial.container').css('height', height);
        setTimeout(function() {jQuery(window).trigger('resize').trigger('scroll');}, 10);
    }

</script>
