{% load staticfiles %}
{% load authentication_groups %}

<section id="testimonials">
  <div id="testimonial-para-container">
    <div class="para para2"></div>
    <div class="para para3"></div>
    <div class="para para4"></div>
    <h1>Testimonials</h1>
    <div id="slider">
      {% for testimonial in testimonials %}
        <div class="testimonial card">
          <div class="testimonialLeft">
            <img class="testimonialImage" src="{{ testimonial.thumbnail.url }}" />
            {% if request.user|inGroup:"editor" %}
            <div id="testimonialEditor">
              <a href="/projects/testimonial/{{ testimonial.id }}/edit" class="waves-effect waves-blue btn-flat editorButton">Edit</a>
              <a url="/projects/testimonial/{{ testimonial.id }}/delete/" class="waves-effect waves-blue btn-flat editorButton delete openmodal">Delete</a>
            </div>
            {% endif %}
          </div>
          <div class="testimonialText">
            <p class="testimonialMessage">{{ testimonial.message }} {{ testimonial.date|date:"M Y"}}</p>
            <p class="testimonialPerson">{{ testimonial.person }}</p>
            {% if testimonial.job != '' %}
            <p class="testimonialJob">{{ testimonial.job }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if request.user|inGroup:"editor" %}
  <a id="newTestimonial" href="/projects/testimonial/0/edit" class="btn-floating btn-large waves-effect waves-light white"></a>
  {% endif %}

</section>

<script>
  $(function() {
    testimonialpara();
  });
  $(window).resize(function() {
    testimonialpara();
  });
  $(document).scroll(function() {
    testimonialpara();
  });
  function testimonialpara() {
    var scroll = $(window).scrollTop() - 1000;
    $("#testimonial-para-container .para2").css("transform", "rotate(-20deg) translate(" + scroll*0.05 + "px, " + scroll*0.5 + "px)");
    $("#testimonial-para-container .para3").css("transform", "rotate(-50deg) translate(" + scroll*0.1 + "px, " + scroll*0.1 + "px)");
    $("#testimonial-para-container .para4").css("transform", "rotate(25deg) translate(-" + scroll*0.1 + "px, " + scroll*0.1 + "px)");
  }
</script>
