{% extends 'scienceshaped/base.html' %}
{% load staticfiles %}

{% block title %}
  {% if new %}
    Create new testimonial
  {% else %}
    Edit testimonial
  {% endif %}
{% endblock title %}

{% block header %}
  {% include 'scienceshaped/header_simple.html' %}
{% endblock header %}

{% block footer %}
{% endblock footer %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "projects/css/editform.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "scienceshaped/css/calendar.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "scienceshaped/css/header.css" %}">
  <script src="{% static "scienceshaped/js/calendar.min.js" %}"></script>
{% endblock head %}

{% block content %}

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui header blue">
        {% if new %}
          Create testimonial
        {% else %}
          Edit testimonial
        {% endif %}
      </h2>
      <div class="ui segment">
        <form class="ui large form" action="" enctype="multipart/form-data" method="post">
          {% csrf_token %}

          <div class="field" style="margin-bottom: 0px;">
            <label for="{{ form.person.id_for_label }}">
              Person
            </label>
          </div>
          <div class="field inline">
            <div class="ui left input leftofhidden">
              <input id="{{ form.person.id_for_label }}"
                     name="person"
                     type="text"
                     maxlength="{{ form.fields.person.max_length }}"
                     value="{{ form.person.value|default:'' }}">
            </div>

            <div class="ui input toggle checkbox">
              <input type="checkbox" tabindex="0" class="hidden" name="hidden">
              <label>Hidden</label>
              {% if form.hidden.errors %}
                <div class="ui blue pointing label">
                  {{ form.hidden.errors.0 }}
                </div>
              {% endif %}
            </div>
          </div>

          {% if form.person.errors %}
            <div class="ui blue pointing label" style="margin-top: 0; margin-bottom: 10px;">
              {{ form.person.errors.0 }}
            </div>
          {% endif %}

          <div class="field">
            <label for="{{ form.job.id_for_label }}">
              Job
            </label>
            <div class="ui left input">
            <textarea id="{{ form.job.id_for_label }}"
                      name="job"
                      type="text"
                      maxlength="{{ form.fields.job.max_length }}"
            >{{ form.job.value|default:'' }}</textarea>
            </div>

            {% if form.job.errors %}
              <div class="ui blue pointing label">
                {{ form.job.errors.0 }}
              </div>
            {% endif %}
          </div>

          <div class="field">
            <label for="{{ form.message.id_for_label }}">
              Message
            </label>
            <div class="ui left input">
            <textarea id="{{ form.message.id_for_label }}"
                      name="message"
                      type="text"
                      maxlength="{{ form.fields.message.max_length }}"
            >{{ form.message.value|default:'' }}</textarea>
            </div>

            {% if form.message.errors %}
              <div class="ui blue pointing label">
                {{ form.message.errors.0 }}
              </div>
            {% endif %}
          </div>

          <div class="field">
            <label for="{{ form.url.id_for_label }}">
              Date
            </label>
            <div class="ui calendar date">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input id="{{ form.date.id_for_label }}" type="text" placeholder="Date" name="date"
                       value="{{ form.date.value }}">
              </div>
              {% if form.date.errors %}
                <div class="ui blue pointing label">
                  {{ form.date.errors.0 }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="field image">
            <label for="{{ form.thumbnail.id_for_label }}">Thumbnail</label>
            <input id="{{ form.thumbnail.id_for_label }}" style="display: none;" name="thumbnail" type="number"
                   value="{{ form.thumbnail.value }}">
            <div class="ui card image">
              <div class="image select">
                {% if form.thumbnail.value and form.thumbnail.value != '0' %}
                  <img src="/files/image/{{ form.thumbnail.value }}/view">
                {% else %}
                  <img src="{% static "projects/img/click_to_select.png" %}">
                {% endif %}
              </div>
            </div>
          </div>

          {% if form.thumbnail.errors %}
            <br>
            <div class="ui blue pointing label">
              {{ form.thumbnail.errors.0 }}
            </div>
          {% endif %}

          <div class="ui fluid large submit button blue">Save</div>

        </form>
      </div>
      <script>
          $(function () {
              {% if form.hidden.value %}
                  $('.toggle').checkbox('toggle');
              {% endif %}
              $('.toggle').click(function () {
                  $(this).val(!$(this).hasClass('checked'));
              });
          });
      </script>
      <script src="{% static "projects/js/testimonial_edit.js" %}"></script>
    </div>
  </div>

{% endblock content %}
