{% load staticfiles %}
<html>

  <head>
    <title>Images</title>
    {% include 'material_design_links.html' %}
    <link href="{% static "css/images.css" %}" rel="stylesheet">
    <link href="{% static "css/button_image.css" %}" rel="stylesheet">
    <link href="{% static "css/colors.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{% static "img/favicon.ico" %}"/>
  </head>

  <body>

    {% include 'delete.html' %}

    <div id="content">

      <div id="top">
        <form id="searchForm" action="/files/images/" method="post">
          <!-- <label>Title or tag:</label> -->
          {% csrf_token %}
          <input id="id_search" name="search" maxlength="100" value="{{ searchText }}">
          <button id="submit" class="btn waves-effect waves-light blue" type="submit" name="action">Search
            <img src="{% static "img/ic_search_white_24px.svg" %}">
          </button>
        </form>
        <a id="upload" class="waves-effect waves-light btn blue">Upload<img src="{% static "img/ic_file_upload_white_24px.svg" %}"></a>
        </top>

        <form id="selectForm" action="" method="post" style="display: none;">
          {% csrf_token %}
          <input id="id_defaultImage" name="defaultImage">
        </form>
      </div>
      <div id="images">
        {% for image in images %}
        <div class="imageItem card" image="/media/{{ image.file }}">
          <div class="card-image" style="background-image: url(/media/{{ image.file }});"></div>
          <div class="card-content">
            <p>
              {% if image.title|length > 18 %}
                {{ image.title|slice:":15"|capfirst }}...
              {% else %}
                {{ image.title|capfirst }}
                {% if image.number > 1 %}
                  {{ image.number }}
                {% endif %}
              {% endif %}
            </p>
            <p class="date">
              {{ image.time|date:"F d, Y, H:i:s" }}
            </p>
          </div>
          <div class="card actions">
            <div class="relative">
              <a class="waves-effect waves-light btn previewButton blue" previewImage="/media/{{ image.file }}">Preview</a>
              <a class="waves-effect waves-light btn selectButton green" selectImage="/media/{{ image.file }}">Select</a>
              <a class="waves-effect waves-light btn editButton orange" href="/files/image/{{ image.id }}/edit">Edit</a>
              <a url="/files/image/{{ image.id }}/delete/" class="waves-effect waves-light btn delete deleteButton red">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% include 'imagepopup.html' %}
    </div>

  </body>

  <script>
    $(".imageItem").click(function() {
      if ($(this).hasClass("selected")) {
        $(".imageItem").removeClass("selected");
        $(".actions").css("display", "none");
      } else {
        $(".imageItem").removeClass("selected");
        $(".actions").css("display", "none");
        $(this).addClass("selected");
        $(this).children(".actions").css("display", "inline");
      }
    });

    $("#upload").click(function() {
      uploadWindow = window.open('/files/image-upload/');
    });

    $(".selectButton").click(function() {
      var src = $(this).attr("selectImage");
      window.opener.selectThumnail(src);
    });

    function doneUploading(src) {
      uploadWindow.close();
      $("#id_defaultImage").val(src);
      $("#selectForm").submit();
    }

    $(function(){
      $("[image='/media/images/{{ defaultImage }}']").addClass("selected");
      $("[image='/media/images/{{ defaultImage }}']").children(".actions").css("display", "inline");
    });

    $(".delete").click(function() {
      $("#deletePopup").css("display", "inline");
      $("#deleteButton").attr("href", $(this).attr("url"));
    });
  </script>

</html>
