h1 {
    text-align: center;
}

#about {
    padding-top: 80px;
    position: relative;
}

#about h1 {
    margin-bottom: 40px;
}

#about .column {
    text-align: left;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#why li, #mission, c.accdk, #linkedin {
    color: #1e98dd;
}

#mission {
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
}

.who.edit.button:hover, .why.edit.button:hover {
    cursor: pointer;
}
