.ui.blue.inverted.footer.segment {
    margin-top: 100px !important;
    padding: 40px 40px 10px 40px !important;
    background: #52b1e7 !important;
}

.footer a {
    color: #fff;
}

.copyright {
    width: 100%;
    color: #c9e7f8;
    padding: 15px;
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

.copyright p {
    display: inline-block;
    margin: 0;
    margin-left: 15px;
}

.footer .column {
    text-align: left;
}
