.footer {
    margin-top: 100px !important;
    padding: 40px 40px 10px 40px !important;
}

.footer a {
    color: #fff;
}

.copyright {
    width: 100%;
    color: #ddd;
    padding: 15px;
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

.footer .column {
    text-align: left;
}
