
.info.image {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    z-index: -10;
}

.info.content {
    text-align: center;
    padding-top: 200px;
    height: 500px !important;
}

.info.content * {
    line-height: 1em;
    font-family: 'Quicksand', sans-serif;
}

.info.edit.button {
    position: absolute;
    top: 130px;
    left: 10px;
}

.info.edit.button:hover {
    cursor: pointer;
}
