
.info.image {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    z-index: -10;
}

.info.content {
    display: grid;
    grid-auto-rows: min-content;
}

.verticalCenter {
    display: grid;
    align-items: center;
    height: 500px;
    padding-top: 120px;
}

.info.content * {
    line-height: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.info.edit.button {
    position: absolute;
    top: 130px;
    left: 10px;
}

.info.edit.button:hover {
    cursor: pointer;
}
