body, body.pushable {
    background-color: #F5F5F5 !important;
}

.header {
    font-family: 'Quicksand', sans-serif !important;
}

.pusher {
    background-color: transparent !important;
}

.section {
    position: relative;
    padding: 60px 10px;
}

.admin.buttons {
    position: absolute;
    left: 10px;
    top: 10px;
}

.text-centered {
    text-align: center;
}

.ui.blue.button {
    background: #52b1e7 !important;
}
